#home {
  position: absolute;
  background-image: url("../../assets/images/main_background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}

.title-home {
  position: relative;
  padding-top: 42px;
  display: flex;
  justify-content: center;
  div {
    position: relative;
    width: 280px;
    height: 140px;
    .lower {
      position: absolute;
      font-size: 60px;
      bottom: 0;
      right: 0;
    }
    .upper {
      position: absolute;
      font-size: 60px;
      bottom: 10;
    }
  }
}

.login-area-home {
  position: absolute;
  left: 52%;
  top: 63%;
  transform: translate(-50%, -50%);
  .or-home {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    .MuiDivider-root {
      width: 60px;
      height: 1.2px;
      margin: 0 10px;
      background: #707070;
    }
    .MuiTypography-root {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  .later-home {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    .MuiButton-root {
      color: rgba(0, 0, 0, 0.6);
      font-size: 12px;
      letter-spacing: 1.88px;
    }
  }
}
